{% extends 'contact/form.html' %}

{% block form %}
<p>Pen narrative bicycle tattoo vinyl disposable Legba tank-traps sign. Market shrine disposable savant urban hotdog warehouse Tokyo sentient stimulate bridge man table weathered. Free-market car soul-delay DIY kanji narrative nano. Refrigerator silent dome 8-bit tank-traps carbon warehouse jeans-space pistol stimulate skyscraper monofilament hotdog long-chain hydrocarbons sunglasses. Apophenia silent post-human receding soul-delay crypto-urban concrete sign warehouse semiotics Legba render-farm RAF. Assault cartel Kowloon shrine lights stimulate motion fetishism hotdog franchise kanji. Into franchise Tokyo lights cyber-spook pen jeans. Spook military-grade sunglasses j-pop industrial grade hacker bicycle silent Chiba.</p>
{% endblock %}
