
$card-padding: 1em;
$card-margin: 1em;
$card-fold-size: 1.5em;
$card-ground: white;

$card-brand-bg: $brand-primary;
$card-brand-text: white;
$card-brand-fold: darken($card-brand-bg, 20%);

$card-light-bg: #F0F0F0;
$card-light-text: black;
$card-light-fold: darken($card-light-bg, 10%);

$card-dark-bg: $brand-gray;
$card-dark-text: white;
$card-dark-fold: lighten($card-dark-bg, 20%);

.card{
	position: relative;
	margin: $card-margin;
	padding: $card-padding;
}
@mixin card-variant($bg, $text, $fold, $side: right){
	background: $bg;
	color: $text; 
	&:before{
		content: '';
		position: absolute;
		display: block;
		top: 0;
		border: $card-fold-size solid $fold;
		border-top-color:  $card-ground;
		@if $side == right {
			right: 0;
			border-right-color:  $card-ground;
		} @else {
			left: 0;
			border-left-color:  $card-ground;
		}
	}
}
.card-brand{ 
	@include card-variant($card-brand-bg, $card-brand-text, $card-brand-fold)
}
.card-dark{ 
	@include card-variant($card-dark-bg, $card-dark-text, $card-dark-fold)
}
.card-light{ 
	@include card-variant($card-light-bg, $card-light-text, $card-light-fold)
}
.card-brand-left{ 
	@include card-variant($card-brand-bg, $card-brand-text, $card-brand-fold, left)
}
.card-dark-left{ 
	@include card-variant($card-dark-bg, $card-dark-text, $card-dark-fold, left)
}
.card-light-left{ 
	@include card-variant($card-light-bg, $card-light-text, $card-light-fold, left)
}
