{% extends 'base.html'%}

{% block content %}
<!--<div id="contactInfoBlock">-->
<div class="block grayBlock">
    <div class="blockFoldHold">
        <div class="blockFold"></div>
        <div class="blockFoldClear"></div>
    </div>
    <div class="blockContent">
        <h2>
            Kontakt
        </h2>
        <h3>
            Koordynator projektu
        </h3>
        <address>
            <i class="fa fa-envelope fa-fw"></i> 
            <a class="fooBar" href="http://www.google.com/recaptcha/mailhide/d?k=019SfyeYoOBXz-HBQPiC1dMw==&c=n2luU5mPbHzPitgNjd8j2XKcA0jsnCKbdwK9fCkXEJk="><span>adam.sawicki</span></a>
            <br>
            <i class="fa fa-phone fa-fw"></i> 22 844 73 55 
        </address>
        <h3>
            Nasze biuro
        </h3>
        <address>
            <i class="fa fa-envelope fa-fw"></i> 
            <a class="fooBar" href="http://www.google.com/recaptcha/mailhide/d?k=019SfyeYoOBXz-HBQPiC1dMw==&c=7t4uleBGHACWoT6pq8zcubkAl0UxUqb94jcrqtFq5N0="><span>biuro</span></a>
            <br>
            <i class="fa fa-phone fa-fw"></i> 22 844 73 55 
        </address>
    </div>
</div>
<div class="clearfix"></div>
<div class="block grayBlock">
    <div class="blockFoldHold">
        <div class="blockFold"></div>
        <div class="blockFoldClear"></div>
    </div>
    <div class="blockContent">
        <h2>
            Adres
        </h2>
        <address>
            <b>Sieć obywatelska - Watchdog Polska</b>
            <br>
            ul. Ursynowska 22/2
            <br>
            02-605 Warszawa 
        </address>
    </div>
</div>
<!-- </div> -->

<div class="block redBlock">
    <div class="blockFoldHold">
        <div class="blockFold"></div>
        <div class="blockFoldClear"></div>
    </div>

    <div class="blockContent">
        <h2>
            O nas
        </h2>
<p> Sieć Obywatelska Watchdog Polska od <b>11 lat</b> patrzy na ręce politykom i urzędnikom – obserwuje ich decyzje oraz sposób, w jaki wydają pieniądze podatników. Mamy <b>50 zaangażowanych członków i członkiń</b> z całej Polski, a ok. <b>200 osób</b> włącza się regularnie w nasze kampanie i monitoringi. Udzielamy <b>rocznie ponad 1000 porad</b> dotyczących dostępu do informacji publicznej, samorządności i praw obywatelskich. Tych ostatnich musimy niekiedy bronić w sądzie – w ostatnich latach prowadziliśmy <b>ponad 400 spraw</b>. Jesteśmy obecni „w terenie” - prowadząc spotkania, dyskusje i szkolenia dla mieszkańców, odwiedziliśmy kilkaset miejscowości w całej Polsce. Głos Sieci Obywatelskiej słyszalny jest też <b>w mediach lokalnych i ogólnopolskich</b> – nasze stanowiska i komentarze publikowano <b>ponad 500 razy</b>. Prawie <b>100 razy</b> przedstawialiśmy też nasze <b>opinie i ekspertyzy</b> władzom centralnym.</p>

<p> Specjalizujemy się w <b>ochronie prawa do informacji.</b> Postrzegamy je, nie tylko jako warunek <b>dobrego państwa</b>, ale przede wszystkim jedno z <b>praw człowieka,</b> które chroni ludzką godność, daje wolność wyrażania opinii i bezpieczeństwo przed nadużyciami władzy. <b>Wpieramy oddolne inicjatywy stojące na straży praworządnych, odpowiedzialnych i rozliczalnych rządów i samorządów</b>. Ludziom oraz władzom <b>dajemy wiedzę</b> gromadzoną w naszych serwisach, m.in. watchdogportal.pl, informacjapubliczna.org.pl i funduszesoleckie.pl.  </p>

<p> Przyczyniliśmy się do tego, że <b>jawność życia publicznego stała się standardem</b>. Obywatelki i obywatele wiedzą, że mogą pytać; a władze wiedzą, że muszą odpowiadać. M. in. dzięki sprawom sądowym przez nas prowadzonym, sądy wydały <b>setki projawnościowych orzeczeń</b>. To także dzięki nam <b>pojawiło się kilkadziesiąt inicjatyw strażniczych w polskich gminach. Nasza praca jest doceniana </b>przez instytucje prywatne, takie jak Ashoka, <b>jak i publiczne</b> – troje naszych członków otrzymało wysokie odznaczenia państwowe, a stołeczne władze przyznały nam Nagrodę m. st. Warszawy.</p> 
    </div>
</div>
{% endblock %}
