{% extends 'petition/base.html' %}
{% load crispy_forms_tags webdesign %}
{% block content %}
<div class="row">
    <div class="col-xs-9">
        {% if object_list %}
        <h2>Have already signed</h2>
        <table class="table table-striped">
            <tr>
                <th>ID{% include 'petition/_links_sort.html' with column='pk'%}</th>
                <th>Name{% include 'petition/_links_sort.html' with column='name'%}</th>
                <th>City{% include 'petition/_links_sort.html' with column='city'%}</th>
            </tr>
            {% for object in object_list %}
            <tr>
                <td>{{object.pk}} 
                </td>
                <td>{{object.name}}</td>
                <td>{{object.city}}</td>
            </tr>
            {% endfor %}
        </table>
        {% include 'petition/_pager.html' %}
        {% endif%}
    </div>
    <div class="col-xs-3">
        <span>There is <span class="label label-warning">{{count}}</span> signatures</span>
        {% lorem 2 p %}
    </div>
</div>

{% endblock %}
