{% extends 'petition/base.html' %}
{% load crispy_forms_tags webdesign %}

{% block css%} 
{{block.super}}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<style>#map{
    width:100%;
    height:500px;
}</style>
{% endblock %}

{% block javascript %}

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script> 
{{block.super}}
<script>
    $(function() {
        map = new L.Map('map');

    var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
    var osm = new L.TileLayer(osmUrl, {minZoom: 1, maxZoom: 18, attribution: osmAttrib});       

    map.setView(new L.LatLng(52.04,19.28), 8);
    $.getJSON( "{% url 'petition:list' %}?per_page=150").done(function(data){ 
        $.each(data, function(i, val){
            var marker = L.marker([val['lat'], val['lng']]).addTo(map);
            marker.bindPopup(val['name']);
        });
    });
    map.addLayer(osm);

});
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-9">
        {% if object_list %}
        <h2>Have already signed</h2>
        <table class="table table-striped">
            <tr>
                <th>ID{% include 'petition/_links_sort.html' with column='pk'%}</th>
                <th>Name{% include 'petition/_links_sort.html' with column='name'%}</th>
                <th>City{% include 'petition/_links_sort.html' with column='city'%}</th>
            </tr>
            {% for object in object_list %}
            <tr>
                <td>{{object.pk}} 
                </td>
                <td>{{object.name}}</td>
                <td>{{object.city}}</td>
            </tr>
            {% endfor %}
        </table>
        {% include 'petition/_pager.html' %}
        {% endif%}

    </div>
    <div class="col-xs-3">
        <span>There is <span class="label label-warning">{{count}}</span> signatures</span>
        <div id="map"></div>
        {% lorem 2 p %}
    </div>
</div>
{% endblock %}
