{% extends 'petition/base.html' %}
{% load crispy_forms_tags webdesign %}

{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="card card-dark">
            {{config.FORM_BLOCK_1 | safe}}
        </div>
        <div class="card card-light">
            {{config.FORM_BLOCK_2 | safe}}
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card card-brand">
            <h2>Podpisz petycję - podpisy zbieramy do momentu zakończenia procedur wyboru RPO.</h2>
            <p>Pierwsza tura 1205 podpisów została przekazana 19 czerwca, kandydat został zgłoszony i staramy się już wyłącznie o głosowanie na niego we właściwym momencie.<br><br></p>            {{config.LETTER_TEXT | safe}}
            <h3 class="text-center">Twoje dane</h3>
            <div id="reqNote">Pola oznaczone gwiazdką (*) są wymagane</div>
            {% crispy form %}
        </div>

    </div>
</div>
{% endblock %}
