{% extends 'petition/base.html' %}
{% load crispy_forms_tags webdesign %}

{% block content %}
<div class="float-left">
    <div id="movieBlock" class="block blackBlock">
        <div class="blockFoldHold"><div class="blockFold"></div><div class="blockFoldClear"></div></div>
        <div class="blockContent">
            <h2>Obejrzyj spot</h2>
            <iframe width="100%" height="275" src="https://www.youtube-nocookie.com/embed/Cf8X_Ep0V9A?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="descriptionBlock" class="block grayBlock">
        <div class="blockFoldHold"><div class="blockFold"></div><div class="blockFoldClear"></div></div>
        <div class="blockContent">
            <h2>Opis problemu</h2>
            <p>Kodeksu wyborczy wymaga aby komitety wyborcze na bieżąco publikowały na swoich stronach internetowych wykaz wpłat od osób fizycznych oraz rejestr zaciągniętych kredytów . W przypadku komitetów wyborczych partii politycznych  jest to przepis martwy. Komitety te mogą otrzymywać środki wyłącznie z Funduszu Wyborczego danej partii oraz kredytu bankowego, dlatego w publikowanych w wykazach wpłat od osób fizycznych zawsze widnieje pozycja „brak wpłat”. Nie znaczy to jednak, że na kampanię nie wpłacały pieniędzy konkretne osoby. Tyle tylko, że dokonano tego na konto partii tworzącej ten komitet (lub jej Funduszu Wyborczego). A wpłaty na konta partii politycznych są regulowane innym aktem prawnym tj. ustawą o partiach politycznych, która nie przewiduje publikowania rejestru wpłat od osób fizycznych.  I w ten sposób nie dowiadujemy się kto wpłacał na kampanię kandydatów na prezydentów zaproponowanych przez największe partie polityczne.</p>
            
        </div>
    </div>
</div>
<div id="signFormBlock" class="block redBlock">
    <div class="blockFoldHold"><div class="blockFold"></div><div class="blockFoldClear"></div></div>
    <div class="blockContent">
        <h2>Podpisz petycję</h2>
        <p><b>Do: </b>wszystkich komitetów wyborczych</p>
        <p>Szanowny Panie Przewodniczący,
<p>My – obywatelki i obywatele RP  zarówno będące osobami indywidualnymi, jak i zrzeszonymi w organizacjach społecznych – zwracamy się do Pana Przewodniczącego o  opublikowanie informacji o uzyskanych w trakcie kampanii wyborczej wpłatach od osób fizycznych przed zakończeniem kampanii oraz o stałe ich aktualizowanie.</p>
<p>Występuje prawna nierówność w zakresie przejrzystości finansowania kampanii kandydatów na Prezydenta RP zaproponowanych przez komitety wyborcze partii politycznych i komitety wyborcze wyborców.  Te ostatnie muszą działać przejrzyście już w trakcie kampanii, podczas gdy w przypadku partii politycznych tak nie jest. To bardzo szkodliwa społecznie sytuacja, zwłaszcza że to właśnie kandydaci i kandydatki partii politycznych mają największą szansę na elekcję. Zwlekanie z dostarczaniem informacji przez prawie rok, czyli do momentu złożenia sprawozdania przez partię polityczną z końcem marca każdego kolejnego roku – sprawia wrażenia odwrócenia się partii od społeczeństwa.</p>
<p>Proponujemy zatem rozwiązanie, które zarówno będzie zmieniało ten niekorzystny obraz partii politycznych w oczach opinii publicznej, jak też będzie sygnałem że partiom zależy na opinii wyborczyń i wyborców.  Byłoby to działanie wykraczające poza wymogi prawa, ale głęboko etyczne. </p>
<p>Pozostajemy z poważaniem,</p>
            <h3 class="text-center">Twoje dane</h3>
            <div id="reqNote">Pola oznaczone gwiazdką (*) są wymagane</div>
            {% crispy form %}
        </p>
    </div>
</div>
{% endblock %}
