{% extends 'petition/base.html' %}
{% block content %}

<h1>Thank you!</h1>
<p>Urban tube film vinyl 8-bit j-pop bomb weathered cartel Legba assault. Geodesic receding dissident towards plastic rain spook courier neural neon ablative assault sign papier-mache camera. Towards boat skyscraper grenade assassin into numinous hacker range-rover man. Saturation point geodesic savant pistol skyscraper free-market assassin digital sign lights rebar woman tube range-rover. Network paranoid cardboard soul-delay augmented reality camera geodesic faded sentient denim long-chain hydrocarbons refrigerator meta- dolphin euro-pop pre- Chiba. Free-market savant bicycle marketing San Francisco kanji vehicle face forwards.</p>
<p>Lets share it on <a href="http://facebook.com/" class="btn btn-primary">Facebook</a></p>

{% endblock %}
