{% extends 'petition/base.html' %}
{% load crispy_forms_tags webdesign %}

{% block content %}
<div class="float-left">
    <div id="movieBlock" class="block blackBlock">
        <div class="blockFoldHold"><div class="blockFold"></div><div class="blockFoldClear"></div></div>
        <div class="blockContent">
            <h2>Obejrzyj spot</h2>
            <iframe width="100%" height="275" src="https://www.youtube-nocookie.com/embed/Cf8X_Ep0V9A?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="descriptionBlock" class="block grayBlock">
        <div class="blockFoldHold"><div class="blockFold"></div><div class="blockFoldClear"></div></div>
        <div class="blockContent">
            <h2>Opis problemu</h2>
<p>Kodeks wyborczy wymaga aby komitety wyborcze na bieżąco publikowały na swoich stronach internetowych wykaz wpłat od osób fizycznych oraz rejestr zaciągniętych kredytów. W przypadku komitetów wyborczych partii politycznych jest to przepis martwy. Komitety te mogą otrzymywać środki wyłącznie z Funduszu Wyborczego danej partii oraz z kredytu bankowego, dlatego w publikowanych wykazach wpłat od osób fizycznych zawsze widnieje pozycja „brak wpłat”.</p>
<p>Podobnie jest w przypadku komitetów wyborczych kandydata na Prezydenta RP. Komitety te mogą otrzymywać wpłaty zarówno od osób fizycznych jak i od partii politycznych (oraz kredytu bankowego). Jednak w przypadku kandydatów popieranych przez partie polityczne całość wpłat (bądź zdecydowana większość) pochodzi właśnie od partii politycznych. I dlatego w publikowanych przez komitety wyborcze tych kandydatów wykazach wpłat od osób fizycznych znowu widnieje pozycja „brak wpłat”.</p>
<p>Nie znaczy to jednak, że na kampanię prezydencką nie wpłacają pieniędzy konkretne osoby. Tyle tylko, że wpłaty te dokonywane są na konto partii popierającej kandydata (lub jej Funduszu Wyborczego). A wpłaty na konta partii politycznych są regulowane innym aktem prawnym tj. ustawą o partiach politycznych, która nie przewiduje publikowania w Internecie rejestru wpłat od osób fizycznych. Informacja ta dostępna będzie dopiero w sprawozdaniach finansowych partii politycznych na wiosnę 2016 r. </p>
<p>I z tego powodu nie dowiemy się ani przed wyborami, ani w ciągu najbliższego roku, kto wpłacał na kampanię kandydatów na prezydenta RP zaproponowanych przez największe partie polityczne.</p>
        </div>
    </div>
</div>
<div id="signFormBlock" class="block redBlock">
    <div class="blockFoldHold"><div class="blockFold"></div><div class="blockFoldClear"></div></div>
    <div class="blockContent">
        <h2>Podpisz petycję</h2>
        <p><b>Do: </b>Pan Jarosław Kaczyński, Prezes Prawa i Sprawiedliwości<br>Pani Ewa Kopacz, Przewodnicząca Platformy Obywatelskiej<br>
Pan Leszek Miller, Przewodniczący Sojuszu Lewicy Demokratycznej<br>
Pan Janusz Piechociński, Przewodniczący Polskiego Stronnictwa Ludowego</p>
<p>Szanowni Państwo,<br>
My – obywatelki i obywatele RP zarówno będące osobami indywidualnymi, jak i zrzeszonymi w organizacjach społecznych – zwracamy się do partii politycznych wspierających kandydatów na Prezydenta RP  o opublikowanie jeszcze przed wyborami prezydenckimi aktualizowanej informacji o otrzymanych przez partię w trakcie kampanii wyborczej darowiznach od osób fizycznych</p>
<p>Występuje prawna nierówność w zakresie przejrzystości finansowania komitetów wyborczych kandydatów na Prezydenta RP wspieranych przez partie polityczne a komitetami takiego wsparcia nie uzyskującymi. </p>
<p>Te ostatnie już w trakcie kampanii muszą publikować na swoich stronach internetowych aktualizowany rejestr wpłat od osób fizycznych. W przypadku komitetów kandydatów popieranych przez partie polityczne większość wpłat pochodzi od partii politycznych. A informacja o darczyńcach partii politycznych, którzy obecnie dokonują wpłat będzie dostępna dopiero w sprawozdaniach partii składanych do Państwowej Komisji Wyborczej na wiosnę 2016 r.</p>
<p>To bardzo szkodliwa społecznie sytuacja, zwłaszcza że to właśnie kandydaci i kandydatki partii politycznych mają największą szansę na elekcję. Zwlekanie z dostarczaniem informacji przez prawie rok sprawia wrażenia odwrócenia się partii od społeczeństwa. </p>
<p>Apelujemy zatem aby partie polityczne, na których czele Państwo stoją, opublikowały na swoich stronach internetowych jeszcze przed wyborami prezydenckimi aktualizowaną informację o otrzymanych w trakcie kampanii wyborczej darowiznach od osób fizycznych. Proponowane rozwiązanie będzie zarówno zmieniało niekorzystny obraz partii politycznych w oczach opinii publicznej, jak też będzie sygnałem że partiom zależy na opinii wyborców. Byłoby to działanie wykraczające poza wymogi prawa, ale głęboko etyczne. </p>
<p>Pozostajemy z poważaniem,</p>
            <h3 class="text-center">Twoje dane</h3>
            <div id="reqNote">Pola oznaczone gwiazdką (*) są wymagane</div>
            {% crispy form %}
        </p>
    </div>
</div>
{% endblock %}
