{% extends 'contact/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6">
        {% if config.CONTACT_BLOCK_1 %}
        <div class="card card-light">
            {{ config.CONTACT_BLOCK_1 | safe}}
        </div>
        {% endif %}
        {% if config.CONTACT_BLOCK_2 %}
        <div class="card card-light">
            {{ config.CONTACT_BLOCK_2 | safe}}
        </div>
        {% endif %}
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card card-brand">
            <h2>Skontaktuj się z nami</h2>
            {% block form %}
            <div id="reqNote">Pola oznaczone gwiazdką (*) są wymagane</div>
            {% crispy form %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
